<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Dansa</title>
</head>
<body>
    <h1>Dansa</h1>
    <p>A dance game, greatly inspired by StepMania! Songs and steps are borrowed from <a href="http://stepmania.com">stepmania.com</a>.</p>

    <ul>
    <% for(var i=0; i<songs.length; i++){ %>
        <li>
            <a href="/play?songId=<%=songs[i]%>">PLAY SONG <%=songs[i]%></a>
        </li>
    <% } %>
    </ul>
</body>
</html>