<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dansa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container">
        <div class="col-md-12">
            <h1>Dansa</h1>
            <p>A dance game, greatly inspired by StepMania! Songs and steps are borrowed from <a href="http://static.stepmania.com/browse.php?micro=1&sort=num_plays">stepmania.com</a>.</p>
        </div>

        <div class="col-md-6">

            <h2>Play!</h2>

            <form method="GET" action="/play">
                <div class="form-group">
                    <label>Steps</label>
                    <select name="songId" class="form-control">
                        <% for(var i=0; i<songs.length; i++){ %>
                            <option value="<%=songs[i]%>">Steps <%=songs[i]%></option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label>Background iframe URL</label>
                    <input class="form-control" type="text" name="bg" value="https://goote.ch/e496320b529a499bb6b5e65b95e4749c.project/" />
                    <span class="help-block">An URL to embed in an iframe behind the notes. Leave empty to view the original image from the song. If you implement the iframe postMessage API as done in <a href="https://app.goocreate.com/schteppe/e496320b529a499bb6b5e65b95e4749c.project">this create project</a>, you can make your animations follow the beats!</span>
                </div>

                <div class="form-group">
                    <label>SoundCloud song</label>
                    <select class="form-control" name="scSong" id="scSelect">
                        <option value="">None</option>
                    </select>
                    <span class="help-block">If you pick one, it will replace the default song. Note: the BPM or beat offset may not be the best!</span>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="PLAY!" />
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <img src="/img/dansa.png" class="img-responsive" />
        </div>

        <div class="col-md-12">
            <hr>
            <center>
                <p>Built by <a href="http://twitter.com/schteppe">schteppe</a>.</p>
            </center>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//connect.soundcloud.com/sdk.js" type="text/javascript"></script>
    <script>
        SC.initialize({
            client_id: '<%-scClientId%>'
        });

        // Try getting a list of public songs with BPM defined
        SC.get('/tracks', {
            filter: 'public',
            bpm: {
                from: 40,
                to: 300
            },
            duration: {
                from: 60 * 1000
            }
        }, function (result){
            if(!Array.isArray(result)) return;

            var $select = $('#scSelect');
            for (var i = 0; i < result.length; i++) {
                var r = result[i];

                if(!r.streamable)
                    continue;

                var id = r.uri.match(/(\d+)$/);
                if(id) id = parseInt(id[0], 10);
                else continue;

                var $option = $('<option value="' + id + '">' + r.title + '</option>');
                $select.append($option);

            }
            console.log(result);

        });
    </script>
</body>
</html>