<% include head %>

    <div class="col-md-12">
        <h1>Song <%-song.id%></h1>
    </div>

    <div class="col-md-12">
        <a href="/songs/<%-song.id%>/play" class="btn btn-primary">Play</a>
        <a href="/songs/<%-song.id%>/edit" class="btn btn-primary">Edit</a>
    </div>

<% include foot %>